<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('img/post-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1>{{post.title}}</h1>
          <span class="meta">Posted by <a href="#">{{post.user.name}}</a> on {{post.posted | date:medium}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p ng-bind-html="post.body"></p>
      </div>
    </div>
  </div>

  <section class="author-box container"> <!--AUTHOR BOX-->
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-0">
            <img class="img-responsive img-circle center-block" ng-src="{{post.user.img}}">
          </div><!-- col-sm-3 -->

          <div class="col-xs-12 col-sm-9">
            <hr class="visible-xs-block">
            <div class="author-box-intro small text-muted">About the Author</div>
            <!-- .author-box-intro --><div class="author-inline-block">
            <h4 class="author-box-title">
              <span class="author-name text-primary">{{post.user.name}}</span><small class="author-social-links small"><a href="#" class="author-social-link twitter small" target="_blank"><i class="fa fa-2x fa-twitter"></i></a><a href="#" class="author-social-link gplus small" target="_blank"><i class="fa fa-2x fa-google-plus"></i></a>   </small><!-- author-social-links -->
            </h4>
          </div>
            <div class="author-box-content">{{post.user.bio}}
            </div><!-- author-box-content -->
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- panel-body -->
    </div><!-- panel -->
  </section><!-- author-box -->




</article>


<!-- NUEVO COMENTARIO-->

<ui-gravatar gravatar-email="email"></ui-gravatar>


</div> <!-- container -->



<div class="row" ng-show="Auth.isLoggedIn()">
  <div class="col-md-6 col-md-offset-3">
    <div class="alert alert-warning" ng-hide="Auth.isLoggedIn()">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Error!</strong> You have to be logged in to write a comment!
    </div>
    <div class="alert alert-warning" style="font-size: 13px" ng-show="nullComment">
      <button type="button" class="close" aria-hidden="true">&times;</button>
      <strong>Error!</strong> You can't leave empty the comment box...
    </div>
    <textarea ng-model="comment.body" required name="comentario" id="inputComentario" placeholder="Leave us a comment..." class="form-control" rows="3" required="required"></textarea><br>
    <center><button type="button" class="btn btn-info" ng-click="submitComment(comment, post._id)">Write a comment!</button></center>
  </div>
</div>

<!-- Comentarios publicados -->
<br>
<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <div class="row">
      <div class="col-md-8 " >
        <h3>Comments in this post: ({{post.comments.length}})</h3>
      </div><!-- /col-sm-12 -->
    </div><!-- /row -->
    <div class="row" ng-repeat="comment in post.comments">
      <div class="col-sm-1" >
        <div class="thumbnail">
          <img class="img-responsive user-photo" ng-src="{{comment.img}}">
        </div><!-- /thumbnail -->
      </div><!-- /col-sm-1 -->

      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>{{comment.username}}</strong> <span class="text-muted">{{comment.createdAt|date:medium}}</span>
          </div>
          <div class="panel-body">
            {{comment.body}}
          </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
      </div><!-- /col-sm-5 -->
    </div><!-- /row -->
  </div>
</div>


