<button class="btn-primary" ui-sref="admin.posts_new">Add new post</button>
<button class="btn-primary" ng-click="categoryPanel()">Add new category</button>

	<div class="row" ng-show="addCategory">
	<br><br>
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">New category</h3>
				</div>
				<div class="panel-body">
					<input type="text" class="form-control"  required="required" ng-model="category">
					<br>
					<button type="submit" class="btn btn-primary" ng-click="submitCategory(category)">add</button>
				</div>
			</div>
		</div>
	
	
</div>

<br><br><br>
<table datatable="ng" class="row-border hover">
	<thead>
		<tr>
			<th>Title</th>
			<th>Category</th>
			<th>User</th>
			<th>Posted</th>
			<th>Actions</th>

		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="post in posts">
			<td>{{post.title}}</td>
			<td>{{post.categories}}</td>
			<td>{{post.user}}</td>
			<td>{{post.posted|date:medium}}</td>
			<td><button class="btn-info">Edit</button>&nbsp;&nbsp;<button class="btn-warning">Delete</button></td>
		</tr>
	</tbody>
</table>
